<!DOCTYPE html>
<html>
<head>
    <title>MiniERP - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
    {{> menu}}
    <main class="container"> {{{body}}} </main>
    {{> footer}}
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>
</body>
</html>